<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Header -->

	<key>Identifier</key>
	<string>com.micro-feature.JazzyLink</string>

	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

	<!-- User Options -->

	<key>Options</key>
	<array>

		<dict>
			<key>Identifier</key>
			<string>jazzy</string>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Adds the Jazzy script as a target (Apple Doc Style)</string>
			<key>Name</key>
			<string>Include Jazzy script</string>
			<key>SortOrder</key>
			<integer>3</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>NotPersisted</key>
			<false/>
			<key>Units</key>
			<dict>

				<key>true</key>
				<dict>

					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.micro-feature.Jazzy</string>
							<key>Name</key>
							<string>Jazzy</string>
						</dict>
					</array>

				</dict>

				<key>false</key>
				<dict>
				</dict>

			</dict>
		</dict>

	</array>

</dict>
</plist>
